@import "tailwindcss";


:root {
  --color-bg: #E3F0D9;
  --color-text: #3A3A3A;
}

.dark {
  --color-bg: #000;
  --color-text: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}