@import "tailwindcss";
@layer base, primeVue, utilities;

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --color-background: #E3F0D9;
  --color-text: #2a2a2a;
  --color-ghost-text: #a4a4a4;
  --color-ghost: #e5e5e5;
  --color-primary: #27A423;
  --spacing: 0.25rem;
}

@theme {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-main: var(--color-primary);
  --color-ghost: var(--color-ghost);
  --color-ghost-text: var(--color-ghost-text);
}

@layer components {
  .calendar-day {
    border: 2px solid var(--color-primary);
    border-radius: 9999px; 
    padding: calc(var(--spacing)*2) calc(var(--spacing)*3) !important;
    text-align: center;
    color: var(--color-text);
  }
}

body {
  font-family: "Quicksand", sans-serif;
  @apply bg-background text-text
}