@import "tailwindcss";

:root {
  --color-background: #E3F0D9;
  --color-text: #3a3a3a;
  --color-primary: #27A423;
  --spacing: 0.25rem;
}

@theme {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-main: var(--color-primary);
}

@layer components {
  .calendar-day {
    border: 2px solid var(--color-primary);
    border-radius: 9999px; 
    padding: calc(var(--spacing)*2) calc(var(--spacing)*3) !important;
    text-align: center;
    color: var(--color-text);
  }
}

body {
  @apply bg-background text-text
}